---

- name: Add Rancher repository
  kubernetes.core.helm_repository:
    name: '{{ rancher_repo_name }}'
    repo_url: '{{ rancher_repo_url }}'

- name: Install Rancher
  kubernetes.core.helm:
    name: rancher
    chart_ref: rancher-stable/rancher
    chart_version: '{{ rancher_repo_version }}'
    release_namespace: cattle-system
    create_namespace: true
    update_repo_cache: true
    values:
      hostname: '{{ rancher_hostname }}'
      tls: '{{ rancher_tls }}'

- name: Create Rancher ingressroute
  kubernetes.core.k8s:
    template: ingressroute.yaml.j2

- name: Get Rancher deployment status
  ansible.builtin.command:
    cmd: kubectl rollout status deploy/rancher --namespace cattle-system
  changed_when: false
